<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
	<div style="clear: both;"></div>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <div style="text-align: center; margin-top: 15px; margin-bottom: 25px; font-size: 0.8em; color: #888;">
    © 2025 Yinxiao Zhang | All rights reserved.
    </div>

  </body>

</html>
